body {
    background-color: rgb(252, 195, 110);
}

.mainNav {
    display:flex;
    justify-content: space-around;
    text-align: center;
    
    .imgNav {
        width:15vw;
        height:15vh;
    }
}

.imgContainer {
    
    img {
        max-width: 100%;
        height:40vh;
        display: block;
        margin-right:auto;
        margin-left: auto;
        margin-bottom: 2em;
    }
}



//-------------------------------- password

$accent: #00BCD4;
$primary: #212121;
$secondary: #250463;

body, html{
  height: 100%;
}



form{
  margin: 3em auto;
  max-width: 320px;
  background: #FFFFFF;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0,0,0,.25);


    input {
        margin-top:1em;
        margin-bottom: 1em;
        width: 100%;
    }
}
.Form{
  display: block;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  color: $secondary;
  
  &__input{
    display: block;
    text-transform: none;
    width: 100%;
    height: 42px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #B6B6B6;
    font-weight: 400;
    color: $primary;
    
    &:focus, &:active{
      border-color: $accent;
      outline: 0;
    }
  }
  
  &__show{
    cursor: pointer;
    position: absolute;
    bottom: 11px;
    height: 16px;
    right: 0;
    background: $secondary;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 700;
    font-size: .8em;
    
  }

  
  
}

.logbuttons {
    display: flex;
    justify-content: space-evenly;
    .loginButton {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: $primary;
        color:white;
        border-color: $primary;
    }
    
    .forgotpw {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #f44336;
        color:white;
        border-color: #f44336;
    }
}


@media only screen and (max-width: 350px) {
    form{
        text-align: center;
    }

    .Form__show {
        bottom: -25px;
    }

    .logbuttons {
        margin-top: 2em;
    }
  }