#jeu {
    width: 700px;
    height:700px;
    border: black 1px solid;
    display: flex;
    flex-wrap: wrap;
}
.case, #replay{
    width: 200px;
    height: 200px;
    border: solid 1px black;
    margin: auto;
    background-size: 200px;
  
}
#replay {
    margin: 50px auto;
}