$color1 :rgb(6, 20, 102);
body {
    font-family:helvetica, comic;
    font-size: 16px;
}
.container {
    border: black solid; 
    color:white;
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}
.header {
    background:$color1;
    border: 1px black solid;
    display: flex;
    flex-wrap: wrap;
    margin:10px auto;
    padding:5px;
    width: 90%;
    .nomTitre {
        background-color:$color1;
        width: 30%;
        text-align: center;
    }
    nav {
        background-color:white;
        width: 60%;
        height: 50px;
        margin:auto;
        .elementNav{
            justify-content:space-around;
            display:flex;
            li {
                list-style-type: none;
            }
        }
    }
}
.logo {
    width: 25px;
}
.boxInfoPerso {
    width: 55%;
    margin:10px auto;
    display:flex;
    flex-wrap:wrap;
    background:$color1;
    border: 1px black solid;
    .boxPropos {
        width:55%;
        margin:auto;
        ul {
            li{
                padding:5px;
            }
        }
        nav {
            width: 100%;
            height: 35px;
            margin:auto;
            .elementNav{
                justify-content:space-around;
                display:flex;
                li{
                    list-style-type: none;
                }
            }
        }
    }
    .photo {
        width: 40%;
        img {
            width: 150px;
            transition-timing-function:linear;
            object-fit:contain;
        }
        margin:auto;
    }
}
.boxInfo {
    width: 70%;
    margin:10px auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background:$color1;
    border: 1px black solid;
}