body{
    background-color: rgb(100, 100, 100);
}
h1,h3{
    margin: auto;
    margin-bottom: 5vh;
    width: 100%;
    text-align: center;
    font-size: 2em;
}

#switch{
    display: flex;
}

#bordel{
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    text-align: center;
    border: white 1px solid;
    margin: auto;
    margin-bottom: 2vh;
}


hr{
    height: 0.5vh;
    background-color: black;
    width: 50vw;
}

nav {
    background-color: rgb(50, 50, 50);
    color:white;
    width: 100%;
}

form{
    width: 90vw;
    margin: auto;
    text-align: center;
    
}

.boxChamp{
    width: 80vw;
    margin: auto;
    margin-bottom: 2vh;
}
.champ{
     width: 40vw;
     height: 5vh;
     font-size: 20px;
}
.label{
    font-size:1.5em;
    margin:auto;
}

#submit{
    width: 10vw;
    height: 10vw;
    margin: auto;
    margin-bottom: 10px;
}

#result{
    width: 90vw;
    margin: auto;
}
li{
    margin: 2vh;
    font-size: 1.5em;
}


@media only screen and (min-width: 768px) {
    nav{
        width: 30%;
        position: fixed;
        left: 0;
        bottom: 0;
        top: 0;  
    }
    h1{
        margin-top: 10vh;
    }
    form{
        width: 30vw;
        margin-left: 0;
        line-height: 5vh;
    }
    .boxChamp{
        width: 25vw;
        margin: auto;
        margin-bottom: 5vh;
    }
    .champ{
         width: 25vw;
         height: 5vh;
    }
    .label{
        font-size:1.5em;
    }

    #submit{
        width: 5vw;
        height: 5vw;
        margin: auto;
        margin-bottom: 10px;
    }

    #result{
        width: 60vw;
        margin: auto;
        margin-right: 5vw;
        margin-top: 10vh;
    }

    .listBooks{
        font-size: 0.8em;
        list-style-type:'- ';
    }
}
    
