body {
    margin:0;
    background-color:black;
    
}
.container {
    width:100%;
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    border: white solid 5px;
    background-color:pink;
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.info{
    background-color: white;
    margin:5px auto;
    width: 80%;
  
}
img{
    margin-top: 5px;
    width:80%;

}

@media only screen and (max-width: 800px) {
    .container {
        font-size: 30px;
    }
    .card {
       width:90%
   }
   
}
@media only screen and (min-width: 800px) and (max-width: 1080px) {
    .container {
        font-size: 20px;
    }
    .card{
       width:45%
   }
   
}
@media only screen and (min-width: 1080px) {
    .card {
       width:30%
   }
}