body{
    margin:0;
    height: 100%;
    background-color: rgb(100, 100, 100);
}
#connected,#disconnected {
    position: absolute;
    top:0;
    left:0;
    right:0;
    background-color: rgb(50, 50, 50);
    color:white;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

#switchDis{
    color: white;
    text-decoration: none;
    border: 1px solid white;
}

#disconnect,#switch{
    margin :0;
    text-decoration: none;
    color: white;
    border: white 1px solid;
}

#mainConnected{
    font-size: 1.2em;
    text-align: center;
    margin: auto;
    margin-top: 70vh;
    border: solid black 2px;
}

#mainDisconnected{
    font-size: 1.2em;
    text-align: center;
    margin: auto;
    margin-top: 30vh;
}

#submit{
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.alert {
    width: 30vw;
    background-color: red;
    font-size: 1em;
    border:black 1px solid;
}

#pwdForget{
    font-size: 0.8em;
}
 
@media only screen and (min-width: 768px) {

    .alert {
        width: 30vw;
        background-color: red;
        font-size: 1em;
        border:black 1px solid;
    }

    #connected,#disconnected {
        width: 30%;
        text-align: center;
        font-size: 1.2em;
        position: fixed;
        top:0;
        bottom: 0;
        left: 0;
    }
    
    #mainConnected,#mainDisconnected{
        width: 40vw;
        margin-top: 25vh;
        margin-bottom: 25vh;
        margin-left: 45vw;
    }

    #head{
       margin: auto;
    }

    #foot{
        margin: auto;
    }


}